.navbar-dark a {
    display: block;
    color: black;
    font-weight: 40%;
    text-align: center;
    padding: 15px 17px;
    font-size: 25px;
    text-align: center;
}


* {box-sizing: border-box;}

.navbar-dark {
    overflow: hidden;
    background-color: lightseagreen;
}